.main-wrapper .category-section .item {
  margin-bottom: 27px;
}

.main-wrapper .category-section .item:last-child {
  margin-bottom: 23.5px;
}

.main-wrapper .category-section .item {
  margin-bottom: 27px;
}
