.main-wrapper .category-section .item {
  margin-bottom: 26px;
}

.main-wrapper .category-section .item:last-child {
  margin-bottom: 20px;
}

.main-wrapper .category-section .item {
  margin-bottom: 25px;
}

.main-wrapper .category-section .item-gap {
  margin-top: 32px;
}
