.main-wrapper .section {
  margin-bottom: 20px;
  margin-top: 20px;
}

.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #2d7788;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.main-wrapper .section-title .section-icon {
  width: 30px;
  height: 18px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #2d7788;
  text-align: center;
  padding: 7px 1px;
  font-size: 16px;
  position: relative;
  top: 5px;
}
